<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained","wideSize":"1260px"}} -->
<div class="wp-block-group"><!-- wp:heading -->
<h2 class="wp-block-heading">Blog</h2>
<!-- /wp:heading -->

<!-- wp:separator {"style":{"spacing":{"margin":{"top":"3vw","bottom":"5vw"}}},"className":"is-style-wide"} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-wide" style="margin-top:3vw;margin-bottom:5vw"/>
<!-- /wp:separator -->

<!-- wp:query {"queryId":25,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"list"},"layout":{"type":"constrained","wideSize":"1260px"}} -->
<div class="wp-block-query"><!-- wp:post-template {"style":{"typography":{"fontSize":"0.9rem"}},"fontFamily":"libre-caslon-display"} -->
<!-- wp:columns {"verticalAlignment":"top"} -->
<div class="wp-block-columns are-vertically-aligned-top"><!-- wp:column {"verticalAlignment":"top","width":"35%"} -->
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:35%"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"16/9","width":"100%"} /--></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"top","width":"65%"} -->
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:65%"><!-- wp:post-title {"isLink":true,"fontSize":"x-large"} /-->

<!-- wp:post-excerpt {"excerptLength":35} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:post-date {"textAlign":"left","fontSize":"small","fontFamily":"libre-caslon-display"} /-->

<!-- wp:read-more {"style":{"typography":{"textDecoration":"underline","fontSize":"1.2em"}},"fontFamily":"libre-caslon-display"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->